.navbar{
    background-color: #261c1a;
}
body{
    background-color: #d5ccc7;
    font-family: 'Montserrat', sans-serif !important;
}

.footer{
    margin-top: 40px;
    background-color: #261c1a;
    color: #d5ccc7;
}

.author-box{
    border-radius: 6px;
}

.author-box img{
    width: 100%;
    max-width: 120px;
    border-radius: 6px;
    display: block;
    margin-bottom: 8px;
}

.card{
    border-radius: 6px;
}

.card-img-top{
    border-radius: 6px;
    width: 100%;
    max-height: 335px;
    min-height: 365px;
    
}
.detalhes-img-top{
    border-radius: 6px;
    width: 100%;
    max-width: 300px;
    max-height: 335px;
    min-height: 365px;
    
}
.banner-text{
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/*ajuste extra para telas muito pequenas*/
@media (max-width: 900px) {
    .carousel-caption .banner-text { 
    font-size: 25px !important; 
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
   
  }
}


a{
    text-decoration: none;
}

.btn{
    color: #d5ccc7 !important;
    background-color:#261c1a !important;
    border-color: #261c1a;
    font-family: 'Montserrat', sans-serif !important;

}
.mb-4{
  font-family: 'Montserrat', sans-serif !important;


}
label{
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif !important;

    
}

input, textarea{
    border-style: solid !important;
    border-color:#261c1a !important;
    border-width: 2px !important;
}